.flexix {
  display: flex;
  align-item: center;
  justify-content: center;
}
.container {
  display: flex;
  justity-content: center;
  align-items: center;
}
.botao {
            display: inline-block;
            border: 2px solid #ef4a53; /* Define a borda com 2px de espessura e cor preta */
            padding: 10px 20px; /* Adiciona um espaço interno de 10px */
            color: white;
            border-radius: 15px;
            margin: 4px 2px;
            background-color: #ef4a53;
            display: inline-block; /* Faz com que o bloco se ajuste ao tamanho do conteúdo */
} /* carpet carpet carpet carpet carpet carpet carpet carpet check out i'm in the house, like carpet carpet carpet */
